<div class="footer">
  <div class="row w-100 m-0">
    <div class="col-4 ps-5">
      <%= image_tag "up", class: "stats_icon" %>
    </div>
    <div class="col-4">
      <%= link_to new_transaction_path do %>
        <div class="add_button">
          <i class="fa-solid fa-plus add_button_plus"></i>
        </div>
      <% end %>
    </div>
    <div class="col-4 pe-5">
      <%= image_tag 'stats', class: "stats_icon" %>
    </div>
  </div>
</div>