<div class="footer">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= link_to new_transaction_path do %>
        <div class="add_button">
          <i class="fa-solid fa-plus add_button_plus"></i>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>