<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid justify-con">
    <div class="d-flex">
      <%= link_to root_path do %>
        <%= image_tag "user", class: "navbar-avatar-round" %>
      <% end %>
      <div class="ps-3">
        <p>
          <span class="text-black-50">Welcome!</span>
          <br>
          <strong><%= current_user.first_name %></strong>
        </p>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
      </div>
    </div>
  </div>
</nav>