.gradient-background {
  background: linear-gradient(148.43deg, rgba(46, 174, 229, 0.711) 19.03%, rgba(168, 117, 250, 0.882) 34.46%, rgba(219, 118, 211, 0.9) 49.16%, rgba(239, 136, 152, 0.9) 63.31%, rgba(252, 151, 114, 0.9) 78.06%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.font-size-small {
  font-size: medium;
}

.balance-card-item {
  width: 100px;
}