.transaction_card_date {
  font-size: 13px;
  text-align: right;
}

.transaction_card_icon {
  width: 32px;
  height: 32px;
}

.transaction_card_amount {
  
  &_red {
    color: rgb(255, 91, 91);
  }

  &_green {
    color: rgb(45, 205, 45);
  }
}

.menu-scroll {
  overflow-y: scroll;
  max-height: 360px;
}

