<div class="container">
  <%= render 'transactions/balance_card' %>
  <br>
  <div class="d-flex justify-content-between">
    <p>Transactions</p>
    <p class="fw-light text-black-50">View all</p>
  </div>
  <div>
    <div class="transaction_cards">
      <% @transactions.all.ordered.each do |transaction| %>
        <%= render "transactions/transaction_card",  transaction: transaction %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
</div>
